*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mona sans','helvetica neue','sans-serif', helvetica, arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'mona sans';
    src: url('./font/mona-sans.ttf')
}

@font-face {
    font-family: 'wendy';
    src: url("./font/Wendy LP Std Bold.otf");
}

@keyframes border-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes content-reaction {


}

#app{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 20px;
}

#navbar{
    width: 100%;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
}

#navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}



#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar ul li{
    margin-right: 20px;
}

#menu{
    display: flex;
}

#dribbleLogo{
    font-family: 'wendy';
    font-size: 40px;
    transform: rotateY(30deg);
    margin-right: 50px;
    transform: rotate(-5deg);
}

#entry{
    align-items: center;
    display: flex;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 500;
}

#register{
    font-weight: 700;
}

#login{
    border-radius: 25px;
    height: 45px;
    width: 80px;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    align-items: center;
    align-content: center;
    margin-left: 10px;
}

#content{
    margin-top: 50px;
    margin-left: 80px;
    width: 100%;
    /*height: 100%;*/
    display: flex;
}

#searchBar{
    width: 100%;
    height: 100%;
    background-color: white;
}

#searchBar h1{
    font-size: 48px;
    font-weight: 550;
    font-stretch: expanded;
    line-height: 1.08;
}

#searchBar p{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    max-width: 413px;
}

#videoBar{
    width: 100%;
    height: 100%;
    /*background-color: gray;*/
}

#search-category{
    width: 100%;
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

#shots{
    display: flex;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    align-items: center;
}

.non-active{
    display: flex;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: transparent;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    align-items: center;
}

.fa-image{
    font-size: 14px;
    margin-right: 5px;

}

.fa-user-group{
    font-size: 14px;
    margin-right: 5px;
}

.fa-file-lines{
    font-size: 14px;
    margin-right: 5px;
}

#input-bar{
    position: relative;
}

#search-input{
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin-top: 10px;
    padding-left: 15px;
    background: #f3f3f6;
}

.fa-magnifying-glass{
    font-size: 18px;
    border: solid #e94c89;
    border-radius: 25px;
    padding: 5px;
    background-color: #e94c89;
    color: white;

}

#input-bar button{
    position: absolute ;
    top: 17px;
    right: 5px;
    border: 0 solid transparent;
    padding: 0;
    background: white;
    border-radius: 50%;
}

#input-bar input{

}

#trending-section{
    width: 100%;
    margin-top: 15px;
}

#trending-title{
    font-size: 13px;
    font-weight: 700;
}

.trending-content{
    font-size: 12px;
    border: 1px solid #e7e7e9;
    border-radius: 25px;
    padding: 8px;
    margin-left: 15px;
}

#project-promo-banner{
    margin-top: 25px;
    margin-left: 20px;
    width: 95%;
    background: #f8f8fc;
    height: 75px;
    border: 1px solid transparent;
    border-radius: 15px;

    align-items: center;
    align-content: center;
    display: flex;

}

#match-box{
    background: #ffffff;
    border: 1px solid transparent;
    height: 45px;
    width:10%;
    margin: 5px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

#match-box-content{
    /*z-index: 1000;*/
}

#match-box-content::before{
    content: '';
    position: absolute;
    height: 200px;
    width: 30px;
    top: 50%;
    left: 50%;
    background: #956bcd;
    transform: translate(-50%, -50%);
    animation: border-animation 5000ms infinite linear;
    transform-origin: 50% 0;
}

#match-box-content:after{
    content:'Get Matched Now';
    position: absolute;
    background: white;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    inset: 2px;
    border: 1px solid transparent;
    border-radius: 25px;
    bottom: 2px;
    text-align: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;

}

#match-box-prefix{
    position: absolute;
    background: deeppink;
    margin-left: 9%;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 6px;
    color: white;
    line-height: 1;
    font-stretch: expanded;

}

#banner-description{
    font-size: 14px;
    font-weight: 400;
    color: #3a3546;
    margin-left: 30px;
}

#video{
    width: 70%;
    height: 70%;
    margin-left: 12%;
    border-radius: 25px;
}

#filter-bar{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

#popular{
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    /*width: 5%;*/
    text-align: center;
}

#filter-categories{
    gap: 10px;
    display: flex;
}

.nonActive-filter-category{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

#active-filter-category{
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 25px;
    background: #f8f7f4;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-top: 5px;
}


#popular img{
    font-weight: bold;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

#filters{
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding:0 15px ;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    align-content: center;
    align-items: center;
}

#filters img{
    font-weight: bold;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

#profile-showcase{
    display: grid;
    background: white;
    margin-top: 60px;
    margin-left: 20px;
    width: 95%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 350px 350px 350px;
    grid-gap: 50px;
    grid-template-areas: "s-1 s-2 s-3 s-4"
                         "s-5 s-2 s-6 s-6"
                         "s-7 s-7 s-8 s-9"
                         "s-10 s-11 s-8 s-12"
}

.c-videos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#s-1 {
    width: 100%;
    height: 100%;
    grid-area: s-1;
}

#s-2 {
    width: 100%;
    height: 100%;
    grid-area: s-2;
}

#s-3 {
    width: 100%;
    height: 100%;
    grid-area: s-3;
}

#s-4 {
    width: 100%;
    height: 100%;
    grid-area: s-4;
}

#s-5 {
    width: 100%;
    height: 100%;
    grid-area: s-5;
}

#s-6 {
    width: 100%;
    height: 100%;
    grid-area: s-6;
}

#s-7 {
    width: 100%;
    height: 100%;
    grid-area: s-7;
}


#s-8 {
    width: 100%;
    height: 100%;
    grid-area: s-8;
}

#s-9 {
    width: 100%;
    height: 100%;
    grid-area: s-9;
}

#s-10 {
    width: 100%;
    height: 100%;
    grid-area: s-10;
}

#s-11 {
    width: 100%;
    height: 100%;
    grid-area: s-11;
}

#s-12 {
    width: 100%;
    height: 100%;
    grid-area: s-12;
}

.vid-section{
    margin-bottom: 35px;
}

.showcase-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 25px;
}

.showcase-video h1{
    font-size: 16px;
    margin-left: 10px;
}

.content-reaction {
    width: 100%;
    height: 60px;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: -60px; /* fixed bottom positioning */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* space between title and icons */
    padding: 0 10px; /* horizontal padding */
    transition: all 0.4s ease-in-out;
}

.content-reaction h1 {
    font-size: 16px;
    margin: 0;
}

.content-reaction-icon {
    display: flex;
    gap: 10px; /* space between icons */
}

.content-reaction-icon i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.nixito-img{
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.vid-description{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.brand-detail{
    display: flex;
}

.brand-name {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.team{
    font-size: 12px;
    font-weight: 600;
    color: white;
    background: #cccccc;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
}

.brand-reaction{
    margin-left: 10px;
    color: #9e9ea7;
    align-content: center;
}

.brand-reaction span{
    font-size: 12px;
}
.brand-reaction i{
    font-size: 15px;
    margin-right: 5px;
}

.brand-reaction-group{
    display: flex;
    margin-right: 10px;
}

#signup{
    margin-top: 4%;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 9px;
    color: white;
    background: black;
    width: 10%;
    text-align: center;
    margin-left: 45%;
}

#scrolbar{
    width: 100%;
    height: 250px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#scrolbar::-webkit-scrollbar {
    display: none;
}
.scrolbar-child{
    flex-shrink: 0;
}

.scrolbar-child img{
    width: 200px;
    height: 200px;
}

.showcase-video:hover .content-reaction{
    bottom: 0;
}

#dribbleLogo:hover{
    color: #3e3d3d;
}

#navbar a:hover{
    color: #a077b1;
}

#login:hover{
    background-color: #3e3d3d;
    cursor: pointer;
}

.non-active:hover{
    background-color: #f4f5f5;
    cursor: pointer;
}

#shots:hover{
    cursor: pointer;
}

#register:hover{
    color: #a077b1;
    cursor: pointer;
}

#input-bar input:hover{
    background: white;
    border: 2px solid #daaad8;
}

.trending-content:hover{
    background: #f3f3f6;
    cursor: pointer;
}

#active-filter-category:hover{
    background: #ecedef;
    cursor: pointer;
}

.nonActive-filter-category:hover{
    color: #999b9f;
    cursor: pointer;
}

.content-reaction-icon i:hover{
    color: gray;
}

.brand-reaction i:hover{
    color: #e94c89;
    cursor: pointer;
}

.team:hover{
    background: black;
    cursor: pointer ;
}

.scrolbar-child img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}